:root { 
    --vermelho:#E50914;
    --preta:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* se os elementos forem maiores que a caixa, eles irão se comprimir, mas não irão romper a caixa */
    text-decoration: none;
}

/* Elementos base */
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 8px;
    animation: flicker 3.5s infinite alternate;
}

header .logo i{
    margin-right: 10px;
}

header nav a{
    color: #AAA;
    margin-right: 15px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: flicker;
    
}

header nav a:hover {
    color: #fff;
}

/* Filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("/img/megaDrive/wallpaperSonic.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .logo {
    width: 100%;
    max-width: 300px;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 12px 24px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .4s ease all;
    border-radius: 5px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 10px;
}

.container {
    margin-left: 25px;
}

.filme-principal .container {
    width: 40%;
}

/*Carrosel*/
.plataforma {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    animation: flicker 1.5s infinite;
}

.box-filme {
    width: 100%;
    height:auto;
    display: block;
    margin-top: 10px;
       
}


/* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

 