@media screen and (max-width: 766px){
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 150px;
    }
}

@media screen and (max-width: 400px) {
    .filme-principal .container {
        width: 100%;
    }
}


    
